.header__main
  .header__main__icon
    = link_to root_path do
      = image_tag 'logo/logo.png', alt: 'title', height: '45', width: '145'
  .header__main__search
    = form_with(url: "#", local: true, method: :get, class: "header__main__search-form") do |form|
      = form.text_field :keyword, placeholder: "キーワードから探す", class: "header__main__search-input"
      = button_tag type: "submit", class: "header__main__search-btn" do
        %i.fas.fa-search.fa-2x
.header__list
  %ul.header__list__left-items
    %li.header__list__category
      カテゴリー
    %li.header__list__brand
      ブランド
  %ul.header__list__right-items
    %li.header__list__login
    = link_to sign_in_path, class: "header__list__login-btn" do
      ログイン
    %li.header__list__sign-up
    = link_to new_user_registration_path, class: "header__list__sign-up-btn" do
      新規会員登録