.header__main
  .header__main__icon
    = link_to root_path do
      = image_tag 'logo/logo.png', alt: 'title', height: '45', width: '145'
  .header__main__search
    = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
      = button_tag type: "submit", class: "search-btn" do
        %i.fas.fa-search.fa-2x
.header__items
  %ul.left__list
    %li.list__category
      カテゴリー
      //機能実装予定
    %li.list__brand
      ブランド
      //機能実装予定
  .header__user
    %ul.right__list
      %li.user__login
      = link_to sign_in_path, class: "user__login-btn" do
        ログイン
      %li.user__new
      = link_to new_user_registration_path, class: "user__login-btn" do
        新規登録