.header
  = render "render/header"
.shipping-page
  .shipping-page__box
    =form_for @item do |f|
      = render 'render/error_message', model: f.object
      .shipping-page__box__image
        .shipping-page__box__image--text
          商品画像
        .shipping-page__box__image--require
          必須
      .shipping-page__box__previews
        .shipping-page__box_images
          = f.fields_for :item_images do |image|
            .js-file_group{"data-index" => "#{image.index}"}
              %label.label{for: "item_item_images_attributes_#{image.index}_image"}
                %i.fa.fa-camera-retro
                = image.file_field :image, class: 'js-file'
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
      .shipping-page__box__upload
        画像を5枚までアップロードできます
        .shipping-page__box__file
      .shipping-page__box__item-name
        .shipping-page__box__item-name--text
          商品名
        .shipping-page__box__item-name--require
          必須
      .shipping-page__box__item-text
        =f.text_field :name, placeholder: "商品名入力", class:'item-name'
      .shipping-page__box__explanation
        .shipping-page__box__explanation--text
          商品の説明
        .shipping-page__box__explanation--require
          必須
      .shipping-page__box__text-line
        =f.text_area :description, placeholder: "1000文字まで投稿可能", class:'item-explanation'
      .shipping-page__box__item-category
        .shipping-page__box__item-category--text
          カテゴリー
        .shipping-page__box__item-category--require
          必須
      .shipping-page__box__category-select
        = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: '---'}, {id: 'parent_category'}
      .shipping-page__box__brand
        .shipping-page__box__brand--text
          ブランド
        .shipping-page__box__brand--any
          任意
      .shipping-page__box__brand-text
        = f.text_field :brand, class:"brand-name", placeholder: "例）シャネル"
      .shipping-page__box__item-condition
        .shipping-page__box__item-condition--text
          商品の状態
        .shipping-page__box__item-condition--require
          必須
      .shipping-page__box__condition-select
        =f.select :condition, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れ無し", "目立った傷や汚れ無し"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]],{},class: 'condition', include_blank: "選択して下さい"
      .shipping-page__box__delivery
        .shipping-page__box__delivery--text
          配送料の負担
        .shipping-page__box__delivery--require
          必須
      .shipping-page__box__delivery-select
        =f.select :shipping_cost, [["送料込み(出品者負担) ", " 送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]], {},class: 'delivery',include_blank: "選択して下さい"
      .shipping-page__box__area
        .shipping-page__box__area--text
          発送元の地域
        .shipping-page__box__area--require
          必須
      .shipping-page__box__area-select
        =f.collection_select :prefecture_id, Prefecture.all, :id,:name ,class: "area"
      .shipping-page__box__date
        .shipping-page__box__date--text
          配送までの日数
        .shipping-page__box__date--require
          必須
      .shipping-page__box__date-select
        =f.select :shipping_day, [["1日から2日で発送", "1日から2日で発送"], ["3日から4日で発送", "3日から4日で発送"],["5日から7日で発送", "5日から7日で発送"]], {},class: 'date',prompt: "選択してください"
      .shipping-page__box__price
        .shipping-page__box__price--text
          販売価格
        .shipping-page__box__price--require
          必須
      .shipping-page__box__price-message
        価格（¥300〜9,999,999）
        .shipping-page__box__price-message--price-line
          =f.number_field :price, class:"price",placeholder: "売値"
      .shipping-page__box__btn
        .shipping-page__box__btn--shipping
          = f.submit "出品", class: 'shipping-btn'
        .shipping-page__box__btn--back
          = link_to root_path, class: "back-page" do
            戻る