.wrapper
  = render partial: "render/header"
.hierarchy
  .hierarchy__bar
    .hierarchy__bar--top
      = link_to root_path, class: 'hierarchy-top' do
        furima 
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--my-page
      = link_to root_path, class: 'hierarchy-top' do
        トップページ
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--present-location
      マイページ
.titlebox
  .titlebox__text
    購入内容の確認
.contents
  .contents__box
    .contents__box__product
      .contents__box__product--item-image
        = image_tag @item.item_images.first.image.url ,class: "purchase-item-image"
      .contents__box__product__purchase-info
        .contents__box__product__purchase-info--item-name
          = @item.name
    .contents__box__payment-table
      .contents__box__payment-table--text
        送料込み
        = number_to_currency(@item.price, :unit => "円")
      .contents__box__payment-table--total-payment
        お支払い金額
        = number_to_currency(@item.price, :unit => "円")
    .contents__box__method-of-payment
      - if @default_card_information.blank?
      - else
        -#以下カード情報を表示
        = "**** **** **** " + @default_card_information.last4
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      .contents__box__method-of-payment__r-box
        .contents__box__method-of-payment__r-box--shipping-address
          .contents__box__method-of-payment__r-box__user-adress--post-num
            = @shipping_info[0].city
          .contents__box__method-of-payment__r-box__user-adress--address
            千葉県市川市出身 2-2-2
          .contents__box__method-of-payment__r-box__user-adress--user-name
            氏名チーバくん
    .contents__box__bottom
      .contents__box__bottom--btn
        = form_tag(action: :pay, method: :post) do
          %button カードで支払う
