.item-show-page
  = render partial: "render/header"
  .login-page__menu-bar
    %nav.login-page__menu
      %ol.login-page__menu__navigations
        %li.login-page__menu__first-navigation
          = link_to root_path do
            %P.login-page__menu__navigation-one furima >
        %li.login-page__menu__second-navigation
          = link_to root_path do
            %P.login-page__menu__navigation-two トップページ >
        %li.login-page__menu__third-navigation 商品詳細ページ
  .item-show-page__background
    .item-show-page__form
      .item-show-page__item-name__box
        %h2.item-show-page__item-name
          = @item.name
      .item-show-page__image-box
        - @item.item_images.each do |image|
          .item-show-page__main-image-box
            = image_tag image.image.url
      .item-show-page__price-box
        %h2.item-show-page__price
          = @item.price
        %p.item-show-page__tax (税込) 送料込み
      .item-show-page__link-btn
        - unless user_signed_in? && @item.user_id == current_user.id
          = link_to buyers_path, class: "item-show-page__link" do
            購入画面へ
        - else
          %p 出品者は購入できません
      .item-show-page__item-description__title-box
        %h2.item-show-page__item-description__title 商品説明
      .item-show-page__item-description__text-box
        %p.item-show-page__item-description__text
          = @item.description
      .item-show-page__item-show__box
        %h2.item-show-page__item-show 商品詳細
      %table.table
        %tr
          %th 出品者
          %td
            = @item.user.nickname
        %tr.category
          %th カテゴリー
          %td
            = @item.category
        %tr.brand
          %th ブランド
          %td
            = @item.brand
        %tr.item_size
          %th 商品のサイズ
          %td
            = @item.item_size
        %tr.condition  
          %th 商品の状態
          %td
            = @item.condition
        %tr.shipping_cost
          %th 発送料の負担
          %td
            = @item.shipping_cost
        %tr.shipping_method
          %th 発送の方法
          %td
            = @item.shipping_method
        %tr.prefecture
          %th 発送元の地域
          %td
            = @item.prefecture.name
        %tr.shipping_day
          %th 発送日の目安
          %td
            = @item.shipping_day
      = form_for("#") do |f|
        .item-show-page__comment-box
          .item-show-page__comment-form
            = f.text_area :comment, autofocus: true, placeholder:"コメントを入力", rows: "5"
          .item-show-page__caution-box
            %p.item-show-page__caution 
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分になることがあります。
          .item-show-page__btn-box
            = f.submit "コメントを送信する", class: 'item-show-page__btn'
        .item-show-page__comment-list__title-box
          %h2.item-show-page__comment-list-title コメント一覧
        .item-show-page__comment-lists__box
      .item-show-page__btns-box
        - if user_signed_in? && @item.user_id == current_user.id
          .item-show-page__destroy-btn
            = link_to "商品を削除する", item_path(@item), method: :delete, class: "item-show-page__destroy-link"
          .item-show-page__edit-btn
            = link_to "商品を編集する", "#", class: "item-show-page__edit-link"