.wrapper
  = render partial: "render/header"
.hierarchy
  .hierarchy__bar
    .hierarchy__bar--top
      = link_to root_path, class: 'hierarchy-top' do
        furima
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--top-page
      = link_to root_path, class: 'hierarchy-top' do
        トップページ
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--my-page
      = link_to root_path, class: 'hierarchy-top' do
        マイページ
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--present-location
      クレジットカード情報入力
.card-contents
  = form_tag(pay_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
    .card-contents__title
      クレジットカード入力画面
    .card-contents__box
      .card-contents__box__input
        .card-contents__box__input--label
          %label カード番号
        .card-contents__box__input--require
          必須
      .card-contents__box__span
        = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
      .card-contents__box__cred-img
        = image_tag 'logo/cre-logo_visa.png',        alt: 'title', height: '30', width: '40'
        = image_tag 'logo/cre-logo_mc.png',          alt: 'title', height: '30', width: '40'
        = image_tag 'logo/cre-logo_discover.png',    alt: 'title', height: '30', width: '40'
        = image_tag 'logo/cre-logo_jcb.png',         alt: 'title', height: '30', width: '40'
        = image_tag 'logo/cre-logo_amexpre.png',     alt: 'title', height: '30', width: '40'
        = image_tag 'logo/cre-logo_diners-club.png', alt: 'title', height: '30', width: '40'
      .card-contents__box__effective-date
        .card-contents__box__effective-date-label
          %label 有効期限
        .card-contents__box__effective-date--require
          必須
      .card-contents__box__select-date
        %select#exp_month{name: "exp_month", type: "text"}
          %option{value: ""} --
          %option{value: "1"}01
          %option{value: "2"}02
          %option{value: "3"}03
          %option{value: "4"}04
          %option{value: "5"}05
          %option{value: "6"}06
          %option{value: "7"}07
          %option{value: "8"}08
          %option{value: "9"}09
          %option{value: "10"}10
          %option{value: "11"}11
          %option{value: "12"}12
        .card-contents__box__select-date--month
          %span 月
        %select#exp_year{name: "exp_year", type: "text"}
          %option{value: ""} --
          %option{value: "2019"}19
          %option{value: "2020"}20
          %option{value: "2021"}21
          %option{value: "2022"}22
          %option{value: "2023"}23
          %option{value: "2024"}24
          %option{value: "2025"}25
          %option{value: "2026"}26
          %option{value: "2027"}27
          %option{value: "2028"}28
          %option{value: "2029"}29
        .card-contents__box__select-date--year
          %span 年
          %br      
      .card-contents__box__security-code
        %label セキュリティコード
        .card-contents__box__security-code--require
          必須
      .card-contents__box__input-code
        .card-contents__box__input-code--security
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          #card_token
      .card-contents__box__question
        .card-contents__box__question--q
          ?
        .card-contents__box__question--help-code
          カード裏面の番号とは？
      .card-contents__box__regster
        .card-contents__box__regster--new
          = submit_tag "登録する", class: "regster", id: "token_submit"