.wrapper
  = render partial: "render/header"
.hierarchy
  .hierarchy__bar
    .hierarchy__bar--top
      = link_to root_path, class: 'hierarchy-top' do
        furima 
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--my-page
      = link_to root_path, class: 'hierarchy-top' do
        トップページ
        %i.fas.fa-angle-right.fa-2x
    .hierarchy__bar--present-location
      マイページ
.titlebox
  .titlebox__text
    購入内容の確認
.contents
  .contents__box
    .contents__box__product
      .contents__box__product--item-image
        = image_tag 'pict/拳銃構えたチーバくん.jpg', alt: 'title', height: '150', width: '200'
      .contents__box__product__purchase-info
        .contents__box__product__purchase-info--item-name
          商品名：チーバくん
        .contents__box__product__purchase-info--item-price
          ￥777（税込み）送料込み
    .contents__box__payment-table
      .contents__box__payment-table--text
        お支払い金額
      .contents__box__payment-table--total-payment
        ￥777（税込み）送料込み
    .contents__box__method-of-payment
      .contents__box__method-of-payment__l-box
        .contents__box__method-of-payment__l-box--payment-way
          お支払い方法
        .contents__box__method-of-payment__l-box__card-info
          .contents__box__method-of-payment__l-box__card-info--cred-image
            = image_tag 'logo/cre-logo_visa.png', alt: 'title', height: '50', width: '60'
          .contents__box__method-of-payment__l-box__card-info--num-tail
            **** **** **** 4242
          .contents__box__method-of-payment__l-box__card-info--effective-text
            有効期限
          .contents__box__method-of-payment__l-box__card-info--effective-date
            12 /20
      .contents__box__method-of-payment__r-box
        .contents__box__method-of-payment__r-box--shipping-address
          配送先
        .contents__box__method-of-payment__r-box__user-adress
          .contents__box__method-of-payment__r-box__user-adress--post-num
            住所  272-0034
          .contents__box__method-of-payment__r-box__user-adress--address
            千葉県市川市出身 2-2-2
          .contents__box__method-of-payment__r-box__user-adress--user-name
            氏名チーバくん
    .contents__box__bottom
      .contents__box__bottom--btn
        = link_to root_path, class: 'purchase-btn' do
          購入する